{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="" >
        {% csrf_token %} <!--inside of overy form in Django (if you use this templating engine), you need to add in this token. It will be sent on every form submitted(?) -helps with security attacks and compromise of data)-->
        {{form}}
        <input type="submit" value="Submit"/> <!--add submit button-->
    </form>
</div>

{% endblock content%} <!--specifies what the endblock is for, for readability-->